# Created by https://www.toptal.com/developers/gitignore/api/vagrant
# Edit at https://www.toptal.com/developers/gitignore?templates=vagrant

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box


### Docker Token : 이건 보안상 깃허브에 변경 이력을 저장하지 않겠다.(.gitignore파일의 역할)###
docker_token

# End of https://www.toptal.com/developers/gitignore/api/vagrant